.card{
    width:33rem;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
}

.interactiveButton{
    background-color: #ccc;
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    transition: .3s;
    margin-top: 1rem;
}
.interactiveButton:hover{
    transform: scale(1.1);
    background-color: #2ECC71;
}