.progressbar,
.progressbar * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.progressbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px auto;
  max-width: 700px;
  position: relative;
  padding: 0 10px;
}

.progressbar li {
  list-style: none;
  text-align: center;
  position: relative;
  flex: 1;
  color: #bdbdbd;
  font-weight: 500;
}

.progressbar li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  width: 50%;
  height: 3px;
  background: #d3d3d3;
  z-index: -1;
}

.progressbar li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 50%;
  width: 50%;
  height: 3px;
  background: #d3d3d3;
  z-index: -1;
}

.progressbar li.active::before {
  background: #2ECC71;
}
.progressbar li.active:not(:last-child)::after {
  background: #2ECC71;
}

.progressbar li span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d3d3d3;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 26px;
  margin: 0 auto 10px auto;
}

.progressbar li.active span {
  background: #2ECC71;
}

.progressbar li strong {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #bdbdbd;
  font-weight: 600;
}

.progressbar li.active strong {
  color: #2ECC71;
}
