.submitButton{
    background-color: #ccc;
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    transition: .3s;
    margin-top: 1rem;
}
.submitButton:hover{
    transform: scale(1.1);
}

.input{
    background: #e6e6e6;
    padding: .5rem;
    border-radius: 5px;
    max-width: 40rem;
}